<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <meta name="viewport" content=""width="device-width, initial-scale= 1.0" />
        <link rel="stylesheet" href="styles/style.css" />
    </head>
    <body>
        <form action="/login"  method="POST">
            <div align="center">
                <br><br>
                Enter Name : <input name="username" type="text" size="25">
                <br><br>
                Enter Password : <input name="password" type="password" size="25">
                <br><br>
                <button type="submit">Log In</button>
            </div>
        </form>
    </body>
</html>